@import '@/assets/sass/set.scss';
.table-list{
    margin-top: 25px;
    width: 100%;
    text-align: center;
    th{
        background-color: #c9e7d6;
        font-size: 16px;
        height: 40px;
        line-height: 40px;
    }
    td{
        height: 40px;
        line-height: 40px;
        border-bottom: 1px dashed #ccc;
    }
    td.cur{
        color: $pubcolor;
        cursor: pointer;
    }
}